module.exports = {
  database: 'fec_microservices',
  username: '', //please fill this in
  password: '', //please fill this in
  dialect: 'mysql',
};

// After the "username" and "password" have been filled in, please change the name of this file to "database.config.js" and add it to your ".gitignore"